/**
 ****************************************************
 *                                                  *
 *                   Grindelwald                    *
 *                 Theme by Static-mania            *
 *                     Version: 1.0                 *
 *                                                  *
 *                                                  *
 *                                                  *
 *      Validated by W3 CSS                         *
 *      Developed by Md Rabbi Hossain               *
 *                                                  *
 ****************************************************
 */

/* 
 * Table of Contents
 * 
 * 1.0 - Fonts
 * 2.0 - Reset CSS
 * 3.0 - Hero
 * 4.0 - Info
 * 5.0 - About Us
 * 6.0 - Cabin
 * 7.0 - Offer
 * 8.0 - Testimonial
 * 9.0 - Footer
 */

/* ==========================================================================
   1.0 Reset css
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
:root {
  --bg-primary-color: #1b3936;
  --bg-secondary-color: #f9f9f9;
  --bg-tertiary-color: #ffffff;
  --bg-quaternary-color: #75ff69;

  --text-primary-color: #ffffff;
  --text-secondary-color: #1b3936;
  --text-tertiary-color: #f9f9f9;
  --text-quaternary-color: #75ff69;

  --text-primary-font: "Boska Variable";
  --text-secondary-font: "Switzer Variable";

  --text-primary-font-size: 18px;
  --text-scondery-font-size: 68px;

  --text-primary-font-weight: 700;
  --text-scondery-font-weight: 400;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.main-container {
  max-width: 1440px;
}
.container {
  width: 1260px;
  padding: 35px;
  margin: 0 auto;
  height: auto;
}
/* ==========================================================================
   2.0 Fonts 
   ========================================================================== */

@font-face {
  font-family: "Boska Variable";
  src: url("../assets/fonts/Boska-Variable.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Switzer Variable";
  src: url("../assets/fonts/Switzer-Variable.ttf");
  font-style: normal;
}

/* ==========================================================================
   3.0 Hero
   ========================================================================== */
.hero-section {
  background: var(--bg-primary-color) url("../assets/img/hero-img.png")
    no-repeat center center;
  background-size: 500px;
  height: 150vh;
  background-position: center;
}
.menu {
  display: flex;
  justify-content: space-around;
  gap: 8rem;
}
.menu div:nth-child(2) {
  display: flex;
  gap: 1rem;
}
.menu-item {
  display: flex;
  gap: 54px;
}
.menu-item img {
  max-width: 135px;
  height: 33px;
}
.menu-item li a {
  font-size: var(--text-primary-font-size);
  cursor: pointer;
  color: var(--text-primary-color);
}
.border-dashed {
  position: absolute;
  top: calc(20% - 175px);
  left: 50%;
  transform: translateX(-50%) rotate(80deg);
  width: 1030px;
  height: 1030px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px dashed var(--bg-quaternary-color, #1b3936);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-container {
  height: 600px;
  width: 600px;
}
.text-container,
.play-button {
  transform: rotate(-80deg);
  text-align: center;
}
.play-button {
  position: absolute;
  right: 36%;
  top: -36px;
  cursor: pointer;
}
.text-container span {
  display: block;
  margin: 0;
  padding: 0;
}
.text-container .first,
.text-container .third {
  color: var(--text-primary-color);
  font-weight: var(--text-scondery-font-weight);
  font-size: 200px;
  font-family: var(--text-primary-font);
  line-height: 139.765px;
  letter-spacing: 0.5rem;
}
.text-container.scond-text p {
  color: var(--text-primary-color);
}
.text-container .second {
  color: var(--bg-quaternary-color);
  margin-left: 15rem;
  font-size: 200px;
  font-family: var(--text-primary-font);
  font-weight: var(--text-scondery-font-weight);
}
.in-the-text {
  margin-bottom: -1.5rem;
  font-size: 32px;
  color: var(--text-primary-color);
}
.text-container > div:last-child {
  max-width: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.text-container > div:last-child p {
  max-width: 500px;
  text-align: center;
  color: var(--text-primary-color);
  font-size: var(--text-primary-font-size);
  margin-top: 39px;
}
/* ==========================================================================
   4.0 Info
   ========================================================================== */
.info-section {
  background-color: var(--bg-secondary-color);
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-text {
  width: 398px;
  height: 128px;
  line-height: 1.5rem;
  padding: 5px;
  margin-left: 3rem;
  margin-top: 3rem;
}
.info-text p {
  color: var(--text-secondary-color);
  font-family: var(--text-secondary-font);
}
.info-data-container {
  display: flex;
  justify-content: space-between;
}
.right-side-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6.5rem;
}
.right-side-content > div > span:first-child {
  color: var(--text-secondary-color);
  font-family: var(--text-secondary-font);
  font-size: 22px;
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
}
.right-side-content .number-text span {
  color: var(--text-secondary-color);
  font-family: var(--text-primary-font);
  font-size: 100px;
  font-style: normal;
  font-weight: var(--text-primary-font-weight);
  text-transform: capitalize;
}
.number-text span:nth-of-type(2) {
  font-size: var(--text-primary-font-size);
  font-family: var(--text-secondary-font);
  font-weight: var(--text-scondery-font-weight);
}
.right-side-content > div {
  line-height: 3rem;
}
/* ==========================================================================
   5.0 About us
   ========================================================================== */
.image-section {
  height: 850px;
  background-image: url("../assets/img/Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-us {
  max-width: 100%;
  height: 1650px;
  background: var(--bg-primary-color);
  position: relative;
}

.about-us::after {
  content: "";
  display: block;
  width: 100%;
  height: 113px;
  background: #1b3936 url("../assets/img/Intersect.png") no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}
.top-side-container img:first-of-type {
  width: 401px;
  height: 300px;
}
.top-side-container img:nth-of-type(2) {
  width: 401px;
  height: 526px;
  margin-top: 50px;
}

.top-side-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.bottom-side-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-side-container img {
  width: 401px;
  height: 531px;
}

.about-data-main-container {
  height: 1450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.front-text {
  position: absolute;
  top: 41.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1127px;
  height: 800px;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 10;
  border-radius: 8px;
}
.front-text p {
  color: #678784;
  text-align: center;
  font-family: var(--text-primary-font);
  font-size: var(--text-scondery-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
  text-transform: capitalize;
}
.front-text span {
  color: var(--text-primary-color);
  text-align: center;
  font-family: var(--text-primary-font);
  font-size: var(--text-scondery-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
  text-transform: capitalize;
}
.front-text h1 {
  color: var(--text-quaternary-color);
  font-family: var(--text-secondary-font);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
}
/* ==========================================================================
   6.0 Cabin
   ========================================================================== */
/* <!-- Cabin section css here here  --> */
.Cabin {
  height: 1200px;
  background-color: var(--bg-secondary-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.uniq-room-text {
  width: 784px;
}
.uniq-room-text h1 {
  color: var(--text-secondary-color);
  font-family: var(--text-primary-font);
  font-size: var(--text-scondery-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
  text-transform: capitalize;
}
.room-card-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.room-1,
.room-3 {
  padding: 20px;
  position: relative;
  width: 330.4px; /* 378px * 0.8 */
  height: 404.544px; /* 505.68px * 0.8 */
  background: url("../assets/img/image-3.png") lightgray 50% / cover no-repeat;
}
.room-2 {
  position: relative;
  padding: 20px;
  width: 465.6px; /* 582px * 0.8 */
  height: 622.6528px; /* 778.316px * 0.8 */
  flex-shrink: 0;
  background: url("../assets/img/Image (1).png") lightgray 50% / cover no-repeat;
}
.room-3 {
  background: url("../assets/img/Image (2).png") lightgray 50% / cover no-repeat;
}
.overlay-text {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 60px;
}
.overlay-text h1 {
  color: #f9f9f9;
  text-align: justify;
  font-family: "Boska Variable";
  font-size: 32.112px;
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
}
.overlay-text > div:first-child h1 {
  color: var(--text-primary-color);
  font-family: var(--text-primary-font);
  font-size: var(--text-scondery-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.overlay-text > div:first-child p {
  width: 381px;
  color: #fff;
  font-family: "Switzer Variable";
  font-size: var(--text-primary-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
}
/* ==========================================================================
   7.0 Offer
   ========================================================================== */
.offer {
  background-color: var(--bg-primary-color);
  height: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-form-container {
  position: relative;
  width: 1194px;
  height: 704px;
  background: url("../assets/img/BG.png") lightgray 50% / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-text {
  width: 580px;
}
.offer-text h1 span {
  color: var(--text-quaternary-color);
}

.offer-form-container .offer-text h1 {
  color: #fff;
  text-align: center;
  font-family: var(--text-primary-font);
  font-size: var(--text-scondery-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
  text-transform: capitalize;
}
.offer-form-container .offer-text p {
  color: #fff;
  text-align: center;
  font-family: "Switzer Variable";
  font-size: var(--text-primary-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
}
form {
  width: 570px;
  background-color: white;
  height: 60px;
  margin-top: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type="text"] {
  text-align: start;
  width: 116px;
  height: 26px;
  margin-left: 25px;
  border: none;
  outline: none;
}

input[type="submit"] {
  border: none;
  width: 174px;
  height: 60px;
  cursor: pointer;
  background-color: var(--bg-quaternary-color);
  color: var(--text-secondary-color);
  font-family: var(--text-secondary-font);
  font-size: var(--text-primary-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* ==========================================================================
   8.0 Testimonial
   ========================================================================== */

.testmonial-section {
  height: 1150px;
  background-color: var(--bg-secondary-color);
}
.top-side-content-parent {
  justify-content: space-between;
  display: flex;
  align-items: end;
}
.top-side-content-parent > div:first-child h1 {
  width: 766px;
  color: #1b3936;
  font-family: "Boska Variable";
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.top-side-content-parent > div:nth-child(2) > p {
  width: 379px;
  color: var(--text-secondary-color);
  font-family: var(--text-secondary-font);
  font-size: var(--text-primary-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.slide {
  flex: 0 0 33.3333%;
}
.testmonial {
  overflow: hidden;
  height: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;
}
.testmonial-card-parent {
  transition: transform 0.4s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.testmonial-card,
.testmonial-card-2,
.testmonial-card-3 {
  position: relative;
  width: 350px;
  height: 440px;
}
.testmonial-card {
  background: url("../assets/img/test-3.png") lightgray 50% / cover no-repeat;
}
.testmonial-card-2 {
  background: url("../assets/img/test-2.png") lightgray 50% / cover no-repeat;
}
.testmonial-card-3 {
  background: url("../assets/img/test-1.png") lightgray 50% / cover no-repeat;
}
.testmonial-overlay {
  position: absolute;
  background: var(--bg-tertiary-color);
  width: 400px;
  height: 145px;
  flex-shrink: 0;
  bottom: 10px;
  left: -35px;
  padding: 10px;
}
.overlay-content {
  height: 120px;
  padding: 6px;
  line-height: 25px;
}
.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.left-arrow,
.right-arrow {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for background hover efect */
}

.left-arrow {
  background: url("../assets/img/left-arrow.png") var(--bg-primary-color) 50% /
    cover no-repeat;
  background-size: 30px;
}

.right-arrow {
  background: url("../assets/img/right-Icon.png") var(--bg-primary-color) 50% /
    cover no-repeat;
  background-size: 30px;
}

.active-button {
  background-color: var(--bg-quaternary-color);
}
.left-arrow:hover,
.right-arrow:hover {
  background-color: var(--bg-quaternary-color);
}

/* ==========================================================================
   9.0 Footer
   ========================================================================== */
.footer-top {
  height: 600px;
  background-color: var(--bg-tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-top-content-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top-left-c {
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.footer-top-left-c > div:first-child h1 {
  width: 711px;
  color: var(--text-secondary-color);
  font-family: var(--text-primary-font);
  font-size: var(--text-scondery-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
  text-transform: capitalize;
}

.footer-top-left-c > div:first-child p {
  color: var(--text-secondary-color);
  font-family: var(--text-secondary-font);
  font-size: var(--text-primary-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
}

.circle-elipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background: var(--bg-tertiary-color);
  border: 2px solid var(--text-secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > div:nth-child(1) {
  position: relative;
  background-color: var(--bg-quaternary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 480px;
}
.icon-bottom {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.footer > div:nth-child(1) h1 {
  color: var(--text-secondary-color);
  font-family: var(--text-primary-font);
  font-size: var(--text-scondery-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.footer > div:nth-child(1) p {
  color: var(--text-secondary-color);
  font-family: var(--text-secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
  text-transform: capitalize;
}
.footer > div:nth-child(2),
.footer > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 320px;
  width: 480px;
}
.footer > div:nth-child(2) div,
.footer > div:nth-child(3) div {
  margin-bottom: 30px;
}
.footer > div:nth-child(2) div > div,
.footer > div:nth-child(3) div > div {
  display: flex;
}
.footer > div:nth-child(2) div > div img,
.footer > div:nth-child(3) div > div img {
  cursor: pointer;
}
.footer > div:nth-child(2) {
  background-color: var(--bg-primary-color);
}
.footer > div:nth-child(3) {
  background-color: var(--bg-primary-color);
}
.footer > div:nth-child(2) p,
.footer > div:nth-child(3) p {
  color: #fff;
  font-family: var(--text-secondary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
}
.footer > div:nth-child(2) div h1,
.footer > div:nth-child(3) div h1 {
  color: var(--text-primary-color);
  font-family: var(--text-primary-font);
  font-size: var(--text-scondery-font-size);
  font-style: normal;
  font-weight: var(--text-scondery-font-weight);
  line-height: normal;
  text-transform: capitalize;
}
footer.main-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container.footer-bottom p {
  color: var(--text-secondary-color);
  font-family: var(--text-secondary-font);
  font-size: var(--text-primary-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
